/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";

.default {
  transition: background-color 200ms ease-in-out; /* Transition over 100ms */
}
.active-prime {
  background-color: orange; /* The color to transition to */
  transition: background-color 200ms ease-in-out; /* Transition over 100ms */
}
.active-nonprime {
  background-color: #6666ff; /* The color to transition to */
  transition: background-color 200ms ease-in-out; /* Transition over 100ms */
}
.marked-prime {
  background-color: yellow; /* The color to transition to */
  transition: background-color 200ms ease-in-out; /* Transition over 100ms */
}
.marked-nonprime {
  background-color: #ddddff; /* The color to transition to */
  transition: background-color 200ms ease-in-out; /* Transition over 100ms */
}
.node {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px;
  text-align: center;
  padding: 7px;
}
